<header>
    <link type="stylesheet" href="how-to-do.component.css">
</header>
<body>
    <h2 class="head">HOW TO DO</h2>
    <article>
        <section class="pts">
            <ol>Go to Home page and log in and if you don't have an account then sign up.</ol>
            <ol>After logging in, you can see ads or you can upload your advertisement poster.</ol>
            <ol>To upload your own advertisement poster, click on ads.</ol>
            <ol>Then upload your advertisement poster and post it on the site.</ol>
        </section>
    </article>
</body>
