<head>
    <title>Sign Up</title>
    <link type="stylesheet" href="sign-up.component.css">
</head>
<body>
    <h2 id="signup">Sign Up</h2>
    <form action="" method="POST">
        Name:<input type="text" name="Name">
        <br>
        Email:<input type="email" name="Email">
        <br>
        Password:<input type="password" name="Password">
        <br>
        Confirm Password:<input type="password" name="Password">
        <br>
        <input type="checkbox">accept tearms and conditions
        <br>
        <button id="signin-button">Sign In</button>
    </form>
</body>