<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="home-page.component.css">
    </head>
    <header>
            <title>Home</title>
            <meta charset="UTF-8">
    </header>
    <body id="top">
        <section>
            <div id='top_bar'>
                <span class='top_bar_item_1'><a routerLink='./about'>About</a></span>
                <span class='top_bar_item_1'><a routerLink='./howtodo'>How To Do</a></span>
            </div>
        </section>
        <section>
            <div>
                <p id="aaaa">Add your advertisement and make your own....</p>
            </div>
            <div>
                <img id='logo' src="https://c.saavncdn.com/299/Pehchan-English-2019-20200108144115-500x500.jpg" /><br>
                <button class='top_bar_item_2'><a routerLink="./login" target="_blank">Login</a></button><br>
                <button class='top_bar_item_2'><a routerLink="./signup" target="_blank">Sign Up</a></button><br>      
                <button class='li'><a routerLink="./advertisement" target="_blank">View Advertisemnet</a></button><br>
                </div>
        </section>
    </body>
</html>